* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.h1_class {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.h2_class {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.p_class {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

